{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="mb-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbole</th>
                    <th>Action</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {%for transaction in transactions%}
                    <tr>
                        <th>{{transaction.symbole}}</th>
                        <th>{{transaction.action}}</th>
                        <th>{{transaction.number}}</th>
                        <th>{{transaction.price}}$</th>
                        <th>{{transaction.date}}</th>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
