{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div class="mb-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{quote.symbol}}</th>
                    <th>{{quote.name}}</th>
                    <th>{{quote.price}}</th>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
